.html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
}
.nav-link,
.logo {
  text-decoration: none;
}

.navigation {
  display: inline-block;
  width: 1110px;
  text-align: right;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.list-item {
  margin-right: 58px;
  font-size: 14px;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: rgb(150 225 250);
  font-weight: bold;
}
.nav-link {
  color: rgb(150 225 250);
  text-transform: uppercase;
}
.header {
  padding-top: 26px;
}
.nav-link:hover,
.nav-link:focus {
  color: #f38181;
  border-bottom: 5px solid #f38181;
  color: #f38181;
}

.title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 30px;
}

.title1 {
  font-family: "Kaushan Script", cursive;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 100px;
}

.description {
  box-sizing: inherit;
}

.about {
  text-align: center;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
}

.description1 {
  text-align: center;
}

.pic {
  margin-right: 20px;
}

.box {
  width: 33%;
  display: flex;
  margin-bottom: 30px;
}

.galery {
  display: flex;
  justify-content: space-around;
}

.item > img {
  width: 100%;
}
.item {
  position: relative;
}

.SubMenu {
  list-style: none;
  background-image: linear-gradient(to bottom, #f39d8d88, #f4d78f);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 383px;
  height: 473px;
  position: absolute;
  top: 0;
  opacity: 0;
}
.title2 {
  text-align: center;
}

.item:hover > .SubMenu {
  opacity: 1;
  transition: all 2s ease;
  box-shadow: 5px 15px #95e1d3;
}

.SubMenu > li {
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: #f38181 solid 1px;
}

.SubMenu > li:hover {
  background-color: #95e1d3;
}

.description2 {
  text-align: center;
  box-sizing: inherit;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.name {
  text-align: center;
}

.input {
  border-color: #ccc;
}

.button {
  background-color: #95e1d3;
  width: 100px;
  height: 50px;
  text-transform: uppercase;
}
.about {
  text-align: center;
}
